
<div id="home" align="center">
<br><br>
<a href="dnd5espells" class="btn btn-lg btn-default">Dungeons and Dragons 5<sup>th</sup> edition Spellbook</a>
<br><br>
<a href="dnd35espells" class="btn btn-lg btn-default">Dungeons and Dragons 3.5 edition Spellbook</a>
<br><br>
</div>
