<div id="classes">
                <label>[</label>
                                <%= link_to "Clear", "#", id: "clear", remote: true %>
                                <%= render @classes %>
                <label>]</label>
        </div>
