<div id="archetypes">
                <label>[</label>
                                <%= link_to "Clear", "#", id: "clear", remote: true %>
                                <%= render @archetypes %>
                <label>]</label>
</div>
