@import "bootstrap-sprockets";
@import "bootstrap";


#page-wrap {
     width: 800px;
     margin: 0 auto;
}

html{
  overflow-y: scroll;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  text-align: left;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    padding-bottom: 25px;
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

table {
	border-style: solid;
    	border-width: 1px;
#	float: right;
#    	list-style: none;
    	tr {
		padding: 5px;
		border-style: solid;
    		border-width: 1px;
#      		float: left;
#      		margin-left: 15px;
    	}
    	td {
		padding: 5px;
		border-style: solid;
    		border-width: 1px;
#      		float: left;
#      		margin-left: 15px;
    	}
    	th {
		color: white;
		background-color: #960018;
		border-style: solid;
		border-color: black;
		padding: 5px;
    		border-width: 1px;
#      		float: left;
#      		margin-left: 15px;
    	}
}

#show {

	text-align: left;
	padding-left: 10%;
	h1 {
		text-align: left;
	}
		
}

#index {

	text-align: left;
	padding-left: 10%;
	h2 {
		text-align: left;
	}
	
	#totop {
		padding-top: 15px;
  		color: $gray-light;
    		&:hover {
      			color: $gray-darker;
    		}
	
		a {
    			padding-bottom: 25px;
    			color: $gray;
    			&:hover {
      				color: $gray-darker;
    			}
  		}
	}
}	
#search {
	text-align: center;
	width: 100%;
	height: 20px;

	#searchwrapper {
		padding-left: 50px;	
	}
}

#sort {
	width:100%;
	text-align: center;
	font-size: 12pt;
	color: #000;
    	&:hover {
      		color: $gray-darker;
    	}

	a{
		color: black;
	}

	input{
		visibility: hidden;
	}	

	label{
		padding: 5px;
//		font-size: 20pt;
	}	

	button{
		background:none!important;
     		border:none; 
     		padding:0!important;
	}
	
}
