@import "bootstrap-sprockets";
@import "bootstrap";


#page-wrap {
     width: 800px;
     margin: 0 auto;
}

html{
  width:100%;
  overflow-y: scroll;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  width:100%;
  padding-top: 60px;
}

#main {
  overflow:auto;
  padding-bottom:145px;
  margin-left: auto;
  margin-right: auto;
} 
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  text-align: left;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 145px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  position: relative;
  height: 45px;
  clear:both;
  padding-top: 25px;

  a {
    padding-bottom: 25px;
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

table {
	border-style: solid;
    	border-width: 1px;
#	float: right;
#    	list-style: none;
    	tr {
		padding: 5px;
		border-style: solid;
    		border-width: 1px;
#      		float: left;
#      		margin-left: 15px;
    	}
    	td {
		padding: 5px;
		border-style: solid;
    		border-width: 1px;
#      		float: left;
#      		margin-left: 15px;
    	}
    	th {
		color: white;
		background-color: #960018;
		border-style: solid;
		border-color: black;
		padding: 5px;
    		border-width: 1px;
#      		float: left;
#      		margin-left: 15px;
    	}
}

#show {

	float:right;
	width:40%;
	text-align: left;
	padding-right: 20%;
	margin-right: 4%;
	h1 {
		text-align: left;
	}
		
}

#list-wrapper{

	float:left;
	width:40%;
	padding-top: 25px;
	padding-left: 15%;
	margin-left: 5%;

}
#index {
	

	padding-left: 16px;
	text-align: left;
	h2 {
		text-align: left;
	}
	
}	

#search {
	#spell,#class,#archetype,#spell_type{
	
		display: block;
		line-height:0;
		height: 0;
		overflow: hidden;
		zoom: 1;
	}

	height: 20px;
	padding-right: 20px;

	#searchwrapper {
	margin-right: auto;
	margin-left: auto;
	}
}
#sort {
	width:100%;
	text-align: center;
	font-size: 12pt;
	color: #000;
    	&:hover {
      		color: $gray-darker;
    	}

	a{
		color: black;
	}

	input{
		visibility: hidden;
	}	

	label{
		padding: 5px;
//		font-size: 20pt;
	}	

	button{
		background:none!important;
     		border:none; 
     		padding:0!important;
	}
	
}
